service: nest-serverless-lambda
frameworkVersion: "3"

plugins:
  - serverless-iam-roles-per-function
  - serverless-plugin-optimize
  - serverless-prune-plugin
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  environment:
    RoleName:  ${file(env.yml):RoleName}
    TopicName: ${file(env.yml):TopicName}
    TopicARN:  arn:aws:sns:${aws:region}:${aws:accountId}:${self:provider.environment.TopicName}
    DURATION: ${file(env.yml):DURATION}
  stage: prod
  region:   ${file(env.yml):REGION}
  
custom:
  prune:
    automatic: true
    number: 5

  webpack:
    webpackConfig: webpack.config.js
    packager: 'npm'    
    includeModules:      
      forceExclude:        
        - aws-sdk
package:  
  individually: true

functions:
  - ${file(functions.yml)}

resources:
 - ${file(cloud-formation.yml)}
